@import "node_modules/bootstrap/scss/bootstrap";
@import "./utils/variables";

:root {
    --bs-dark-rgb: 52, 58, 64;
    --bs-light-rgb: 222, 226, 230;
}

.nav-link {
    transition: all .3s ease-in-out;

    &:hover {
        color: #fff;
        border-bottom: solid 2px $gray-600 !important;
        background-color: $gray-100;
    }

    &.active {
        border-bottom: solid 2px $gray-600 !important;
    }
}

.list-group-item{
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $gray-100;
        cursor: pointer;
    }
}