@import "node_modules/bootstrap/scss/bootstrap";
@import "./utils/variables";

:root {
    --bs-dark-rgb: 52, 58, 64;
    --bs-light-rgb: 222, 226, 230;
}

// could not find a way to make the background change on nav-item because the element have a background:none

.nav-link {
    background-color: $gray-300;
}
